<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.like.mapper.LikeMapper">

    <resultMap id="BaseMap" type="com.blog.like.entity.Likes">
        <id column="id" property="id" />
        <result column="post_id" property="postId" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="findByPostIdAndUserId" resultMap="BaseMap">
        SELECT * FROM `likes` WHERE post_id = #{postId} AND user_id = #{userId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `likes` (post_id, user_id, create_time)
        VALUES (#{postId}, #{userId}, #{createTime})
    </insert>

    <delete id="deleteByPostIdAndUserId">
        DELETE FROM `likes` WHERE post_id = #{postId} AND user_id = #{userId}
    </delete>

    <select id="countByPostId" resultType="int">
        SELECT COUNT(*) FROM `likes` WHERE post_id = #{postId}
    </select>

    <select id="isLiked" resultType="int">
        SELECT COUNT(*) FROM `likes` WHERE post_id = #{postId} AND user_id = #{userId}
    </select>

</mapper>
